.font-h1 {
  font-family: 'Playfair Display', serif;
}
.Zoom {
  transition: 1s;
}
.Zoom:hover {
  transform: scale(1.05);
  transition: 1s;
}
/************************************** Navbar *******************************************/
.Navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #ffffff;
  height: 120px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
.NavbarTitle {
  display: flex;
  font-size: 32px;
  font-family: 'Charm', cursive;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
}
.Navbar.bgblack {
  background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0));
  opacity: 1;
  transition: background-color 0.3s ease;
}
.scrollNavbarTitle {
  display: flex;
  font-size: 32px;
  font-family: 'Charm', cursive;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  color: #ffffff;
}
.scrolledText {
  color: white !important;
}
/************************************** Footer *******************************************/
.Footer {
  font-family: 'Playfair Display', serif;
  padding-top: 16px;
  font-weight: 100;
  color: #333333;
  border-top: 0.5px solid #d8d8d8;
  height: 60px;
  margin-top: 100px;
}
/******************************** Categorie & About (Navbar titles) *************************************/
.CategoriesList {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  flex-wrap: wrap;
  /* font-family: 'Playfair Display', serif; */
  /* font-family: "adobe-garamond-pro", Georgia, 'Times New Roman', Times, serif; */
  font-size: 17px;
}
.CategoriesList_CategoryName {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  font-family: 'Playfair Display', serif;
  /* font-family: 'adobe-garamond-pro', Georgia, 'Times New Roman', Times, serif; */
  color: #333333;
  font-style: italic;
  font-size: 17px;
  /* letter-spacing: 0.15rem; */
}
.CategoriesList_CategoryName a:hover,
.About a:hover {
  color: #000000;
  text-shadow: 0.5px 0.5px 0.5px gray;
}
.About {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  font-family: 'Playfair Display', serif;
  /* font-family: "adobe-garamond-pro", Georgia, 'Times New Roman', Times, serif; */
  color: #333333;
}
.CategoriesList_CategoryName a::after,
.About a::after {
  background-color: #000000;
  /* bottom: -0.5px; */
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: 0.5s all;
  width: 0;
}
.CategoriesList_CategoryName a:hover::after,
.About a:hover::after {
  width: 100%;
}
/******************************** News *************************************/

.PostDate {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #333333;
}
.PostCategories {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #c4010a;
  font-weight: 500;
  font-style: italic;
}
.PostTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 18px;
  padding-top: 12px;
}
.PostDirectedBy {
  font-family: 'Playfair Display', serif;
  color: #333333;
}
.PostLink {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #c4010a;
}
.Title {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 100%;
}
.DirectedBy {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #c4010a;
  line-height: 100%;
}
.CatName {
  font-family: 'myfont-medium';
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 0.7rem;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: 16px;
  margin-top: 10px;
  padding: 3px 5px;
  display: inline-block;
  line-height: 100%;
}

.OneFilmSynopsis {
  font-weight: 300;
}

.Form {
  background-color: #f4ede6;
  width: 100%;
}
.FormEdit {
  width: 100%;
  background-color: rgb(195, 247, 230);
}
.FormContent {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.FormTitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 2rem;
  color: #333333;
  padding-bottom: 100px;
}
/************************************** Dashboard *******************************************/
.DashboardTitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 2rem;
  color: #333333;
}
/************************************** About *******************************************/
.AboutTitle {
  font-family: 'adobe-garamond-pro', serif;
  font-size: 32px;
  color: #333333;
  line-height: 32px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 1.6pt;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 26px;
}
.AboutText {
  font-family: 'adobe-garamond-pro', serif;
  font-size: 18px;
  font-weight: 400;
  color: #6a6a6a;
  letter-spacing: 0;
  line-height: 32px;
  letter-spacing: 0.3pt;
  text-align: center;
}
/************************************** News *******************************************/
/* .NewsTitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.5rem;
} */
.PostTitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.5rem;
}
.Icons {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.english {
  font-family: 'Playfair Display', serif;
  text-align: right;
  color: #c4010a;
  cursor: pointer;
}

@media (max-width: 992px) {
  .AboutTitle {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333333;
    margin-bottom: 50px;
  }
  .NavbarTitleSmall {
    display: flex;
    font-size: 25px;
    font-family: 'Charm', cursive;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
  }
  .HeaderMenu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #ffffff;
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }
  .HambergerMenu {
    display: none;
    align-items: left;
    justify-content: start;
    flex-direction: column;
    position: fixed;
    padding: 20px 40px;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: #f4ede6;
    width: 100%;
    overflow: auto;
  }
  .HambergerMenu[aria-hidden='false'] {
    display: flex;
  }
  .MenuOpen ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .MenuOpen li {
    text-align: left;
    font-size: 1.5rem;
    font-family: 'myfont-medium';
    border-top: 1px solid #333333;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .MenuOpen li:last-child {
    padding-bottom: 10px;
  }
  .showFilmList ul {
    margin-top: 0px;
  }
  .showFilmList li {
    border-top: none;
    text-align: right;
    font-size: 1.3rem;
  }
  .showFilmList li:last-child {
    border-bottom: none;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    z-index: 999;
    background-color: white;
  }
}
